<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Linker</title>
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body class="bg-info">
    <div class="align-items-center">
        <div style="margin-left:3%;margin-right:3%;background-color:white;margin-top:3%;padding:3%" class="col-md-6 offset-md-3">
            <center>
            {{{body}}}
            </center>
        </div>
    </div>
</body>

</html>