<div class="col-md-3"><label></label></div>
<div class="col-md-4">
    <h3 style="text-align:left;">{{viewTitle}}</h3>
</div>
<form action="/login" method="POST" autocomplete="off">
    <div class="form-group">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <h4>UserName:</h4>
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" id="userName" placeholder="Enter UserName">
            </div>

        </div>

        <div class="col-sm-12">
            <div class="col-sm-2">
                <h4>Password:</h4>
            </div>

            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" placeholder="Enter Password">
            </div>

        </div>


        <div class="col-sm-1">
            <label></label>
        </div>

        <div class="col-sm-9">
            <div class="col-sm-4" style="text-align:right;">
                <button type="submit" class="btn btn-info">Login</button>
                </a>
            </div>
            <div class="col-sm-8">
                <a href="/login/bossLogin">Đăng Nhập Với Tư Cách Quản Lí</a>
            </div>
        </div>
    </div>


</form>

<script>
    function checkform() {
        var user = document.getElementById("userName");
        var password = document.getElementById("password");

        if (user.value != "") {
            alert("Enter UserName, Please!")
            user.focus();
            return false;
        }
        if (password.value != "") {
            alert("Enter Password, Please!")
            password.focus();
            return false;
        }

        return true;
    }

</script>